__pycache__
my_pytest_project
conftest.p_y
src/.coverage                                                                                                                                                                
tests/.coverage
.coverage
results.txt
report.txt
temp_perplexity.txt
htmlcov
.pytest_cache
report.txt